<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


</head>

<body>
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="images/Fish 01 - Fish Tacos.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Chúng Tôi Là<br>HELLO SUMMER JUICE BAR</strong></h1>
                        <p class="m-b-40">Thưởng thức ly nước ép tươi mát!<br>Chúc bạn có một ngày làm việc vui vẻ và trải nghiệm những hương vị tuyệt vời từ ly nước ép của chúng tôi!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/Crab 02 - Crab Toast.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Chúng Tôi Là<br>HELLO SUMMER JUICE BAR</strong></h1>
                        <p class="m-b-40">Thưởng thức ly nước ép tươi mát!<br>Chúc bạn có một ngày làm việc vui vẻ và trải nghiệm những hương vị tuyệt vời từ ly nước ép của chúng tôi!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/Shrimp 01 - Shrimp Monterey.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1 class="m-b-20"><strong>Chúng Tôi Là<br>HELLO SUMMER JUICE BAR</strong></h1>
                        <p class="m-b-40">Thưởng thức ly nước ép tươi mát!<br>Chúc bạn có một ngày làm việc vui vẻ và trải nghiệm những hương vị tuyệt vời từ ly nước ép của chúng tôi!</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/Intro.png" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">CHÚNG TÔI LÀ HELLO SUMMER JUICE BAR</h2>
                <p>Nước ép hoa quả là lĩnh vực kinh doanh duy nhất của chúng tôi
                    . Với nhiều năm kinh nghiệm trong ngành, chúng tôi biết nơi để tìm ra những sản phẩm tốt nhất
                    . Hello Summer Juice Bar chỉ làm việc với những nhà sản xuất hàng đầu và nhà nhập khẩu đáng tin cậy
                    . Chúng tôi chỉ sử dụng những sản phẩm chất lượng cao mà chúng tôi sẽ phục vụ cho bạn bè và gia đình. Nếu nó đủ tốt cho bàn ăn của chúng tôi, bạn sẽ muốn nó trên bàn của bạn!</p>
                <p>Tại Hello Summer, bạn có thể chọn những gì tốt nhất từ cả hai thế
                    . Ở đây, khách hàng được mời vào một cuộc phiêu lưu ẩm thực tuyệt vời
                    . Chúng tôi sẽ tạo ra một trải nghiệm tuyệt vời cho bạn.</p>
                <p>Menu của chúng tôi vừa mang tính cổ điển vừa
                    hiện đại với các món từ nhẹ nhàng đến những sự kết hợp hoa
                    quả phong phú như dâu, cam, xoài, táo,... Chúng tôi mang đến nhiều hơn là
                    chỉ thực phẩm tuyệt vời: Chúng tôi tạo ra những trải nghiệm đáng nhớ.</p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
                    <p>Hello Summer Juice Bar chỉ làm việc với những nhà sản xuất hàng đầu và nhà nhập khẩu đáng tin cậy
                        . Chúng tôi chỉ sử dụng những sản phẩm chất lượng cao mà chúng tôi sẽ phục vụ cho bạn bè và gia đình.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Professional</h3>
                    <p>Tại đây, khách hàng được mời vào một cuộc phiêu lưu với những loại nước ép tuyệt vời
                        . Chúng tôi sẽ tạo ra một trải nghiệm tuyệt vời cho bạn
                        . Chúng tôi mang đến nhiều hơn là chỉ những loại nước ép tuyệt hảo: Chúng tôi tạo ra những trải nghiệm đáng nhớ.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Expert</h3>
                    <p>Chúng tôi đã dành nhiều năm trong ngành nước ép hoa quả
                        , và chúng tôi biết nơi để tìm ra những sản phẩm tốt nhất
                        . Menu của chúng tôi vừa mang tính cổ điển vừa hiện đại với các món từ nhẹ
                        nhàng đến những sự kết hợp hoa quả phong phú như dâu, cam, xoài, táo,...</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Feed  -->

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>


<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>